body > * {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn {
  padding: 0.7rem 1.1rem;
  border-radius: 0.25rem;
}

.btn-auth,
.btn-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn-logout {
  margin-bottom: 1rem;
}

.input-search {
  width: 100%;
  padding: 1.1rem;
  border: none;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  /* font-size: 16px; */
}

/* Panel auth */
.panel-auth {
  padding-block-start: 4px;
  padding-block-end: 4px;
}

/* Panel logged */
#panelLogged {
  position: relative;
  min-height: 100vh;
}

#interceptor {
  bottom: 0;
  position: absolute;
  /* border: 1px solid red;
  margin-top: 20px; */
}

/* List of users */
.list-users-wrapper, .list-followers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.user-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

.user-icon {
  background: rgb(255, 201, 0);
  background: linear-gradient(
    36deg,
    rgb(255, 201, 0) 13%,
    rgb(255, 0, 95) 73%,
    rgb(255, 9, 237) 100%
  );
  padding: 3px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
}

.user-icon img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 2px solid white;
  object-fit: contain;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-info {
  font-weight: 700;
  flex: 1;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: hidden;
}

.user-last-update {
  color: var(--vscode-descriptionForeground);
}

.user-follow {
  align-self: flex-end;
  margin-left: auto;
  padding-right: 8px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.loading-users.loading {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='575' height='6px'%3E %3Cstyle%3E circle { animation: ball 2.5s cubic-bezier(0.000, 1.000, 1.000, 0.000) infinite; fill: %23bbb; } %23balls { animation: balls 2.5s linear infinite; } %23circle2 { animation-delay: 0.1s; } %23circle3 { animation-delay: 0.2s; } %23circle4 { animation-delay: 0.3s; } %23circle5 { animation-delay: 0.4s; } @keyframes ball { from { transform: none; } 20% { transform: none; } 80% { transform: translateX(864px); } to { transform: translateX(864px); } } @keyframes balls { from { transform: translateX(-40px); } to { transform: translateX(30px); } } %3C/style%3E %3Cg id='balls'%3E %3Ccircle class='circle' id='circle1' cx='-115' cy='3' r='3'/%3E %3Ccircle class='circle' id='circle2' cx='-130' cy='3' r='3' /%3E %3Ccircle class='circle' id='circle3' cx='-145' cy='3' r='3' /%3E %3Ccircle class='circle' id='circle4' cx='-160' cy='3' r='3' /%3E %3Ccircle class='circle' id='circle5' cx='-175' cy='3' r='3' /%3E %3C/g%3E %3C/svg%3E") 50% no-repeat;
  height: 20px;
  margin-top: 10px;
}